.footer {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 50px 60px 0;
}

//	Заголовок

.footer__title {
	font-family: $Rimma-sans_bold;
	font-size: 36px;
	line-height: 43px;
	color: #fff;
}
//	Описание

.footer__description {
	font-family: $Tektur_regular;
	font-size: 24px;
	line-height: 30px;
	color: $color-gray;
}

//	Ссылки

.footer-links {
	display: flex;
	gap: 80px;
}

.footer-links__column-title {
	font-family: $Tektur_medium;
	font-size: 36px;
	line-height: 45px;
	color: #fff;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer-links__column {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer-links__column-item {
	font-family: $Tektur_regular;
	font-size: 24px;
	line-height: 30px;
}

.footer-links__link {
	text-decoration: none;
	color: $color-gray;
}
