.headings__title {
	font-family: $Rimma-sans_bold;
	font-size: 64px;
	line-height: 77px;
	color: $color-electric;
}

.headings__subtitle {
	font-family: $Tektur_regular;
	font-size: 48px;
	line-height: 60px;
	color: $color-gray;
}

.main__headings {
	margin-bottom: 100px;
}
