.main {
	position: relative;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

//header

.header {
	padding: 0 40px;
	height: 100px;
	display: flex;
	align-items: center;
}

.header__logo {
	width: 50%;
	font-family: $Rimma-sans_bold;
	font-size: 36px;
	line-height: 43px;
	color: $color-tiffаny;
}

.nav {
	width: 50vw;
	height: 100px;
	border-left: 100px solid $color-black;
	border-top: 100px solid $color-tiffаny;
	padding-left: 40px;
	background-color: $color-tiffаny;
}

.header__nav {
	position: absolute;
	left: 50%;
}

.nav__menu {
	position: absolute;
	bottom: 0;
	display: flex;
	gap: 40px;
}

.nav__link {
	font-family: $Tektur_semi-bold;
	font-size: 36px;
	line-height: 100px;
	text-decoration: none;
	color: #fff;
}

// content

.main__content {
	padding: 0 60px;
	display: flex;
	flex-direction: column;
	gap: 150px;
}

.titles__title {
	font-family: $Rimma-sans_bold;
	font-size: 64px;
	line-height: 77px;
	color: $color-electric;
}

.titles__subtitle {
	font-family: $Tektur_regular;
	font-size: 48px;
	line-height: 60px;
	color: $color-gray;
}

.abilities {
	display: flex;
	gap: 40px;
}

.ability {
	display: flex;
	gap: 10px;
	align-items: center;
}

.ability__image-wrapper {
	height: 100px;
	background-size: cover;
}

.ability__image-wrapper--design {
	width: 110px;
	background-image: url(../img/main/unique-design.svg);
}

.ability__image-wrapper--development {
	width: 110px;
	background-image: url(../img/main/website-development.svg);
}

.ability__image-wrapper--placement {
	width: 102px;
	background-image: url(../img/main/placement-and-configuration.svg);
}

.ability__description {
	font-family: $Tektur_medium;
	font-size: 24px;
	line-height: 30px;
	color: $color-gray;
}

//button

.request-button {
	// position: relative;
	// width: fit-content;
	font-family: $Tektur_medium;
	font-size: 36px;
	line-height: 45px;
	text-decoration: none;
	color: $color-electric;
}

.header__request-button {
	margin-left: 60px;
}
