.opportunities {
	display: flex;
	gap: 40px;
}

.opportunities__elem {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
}

.opportunities__text {
	font-family: $Tektur_medium;
	font-size: 24px;
	line-height: 30px;
	color: $color-gray;
}

.opportunities__img-wrapper_design {
	width: 110px;
	height: 100px;
	background-image: url(../img/opportunities/design/монитор.svg);
}

.opportunities__img-wrapper_develop {
	width: 110px;
	height: 100px;
	background-image: url(../img/opportunities/website-development.svg);
}

.opportunities__img-wrapper_placement {
	width: 102px;
	height: 100px;
	background-image: url(../img/opportunities/placement-and-configuration.svg);
}

.main__opportunities {
	margin-bottom: 95px;
}

.opportunities__design-wrapper {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 90px;
	height: 50px;
	overflow: hidden;
}

.opportunities__design {
	transition: transform 2s ease;

	img {
		display: block;
	}
}
