.request-button {
	font-family: $Tektur_medium;
	font-size: 36px;
	line-height: 45px;
	color: $color-electric;
	background-color: transparent;
	cursor: pointer;
}

.main__request-button {
	margin-bottom: 100px;
}
