.request-bg {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100vw;
	height: 100vh;
	background-color: rgba($color: $color-black, $alpha: 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	transition: all 0.5s ease;
}

.request-bg_active {
	opacity: 1;
	pointer-events: all;
}

.request {
	width: 730px;
	padding: 20px 40px 40px;
	background-color: $color-tiffаny;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	transform: scale(0);
	transition: all 0.5s ease;
}

.request_active {
	transform: scale(1);
}

.request__close {
	align-self: center;
	margin-bottom: 20px;
	width: 20px;
	height: 20px;
	background-image: url(../img/request/close.png);
	background-color: transparent;
	cursor: pointer;
}

.request__text {
	margin-bottom: 40px;
	font-family: $Tektur_regular;
	font-size: 36px;
	line-height: 45px;
	color: $color-black;
}

.request__span {
	color: #fff;
}

.request__inputs {
	margin-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}

.request__input {
	width: 100%;
	height: 85px;
	border-radius: 5px;
	padding: 20px 40px;
	font-family: $Tektur_regular;
	font-size: 36px;
	line-height: 45px;
	color: $color-black;
	outline: 2px solid transparent;
	transition: outline-color 0.3s ease;
}

.request__input_half {
	width: calc(50% - 20px);
}

.request__input::placeholder {
	color: $color-black;
}

.request__input:focus {
	outline-color: $color-black;
}

.request__textarea {
	resize: none;

	&::-webkit-scrollbar {
		width: 0;
	}
}

.request__communication {
	margin-bottom: 40px;
	display: flex;
	align-items: center;
	gap: 40px;
}

.request__communication-text {
	font-family: $Tektur_medium;
	font-size: 32px;
	line-height: 40px;
	color: $color-black;
}

.request__communication-inputs {
	display: flex;
	gap: 20px;
}

.request__communication-input {
	position: absolute;
	opacity: 0;

	&:checked + .request__communication-img-wrapper {
		border: 2px solid $color-black;
	}

	&:not(:checked):focus + .request__communication-img-wrapper,
	&:not(:checked):hover + .request__communication-img-wrapper {
		transform: scale(1.05);
	}
}

.request__communication-img-wrapper {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid transparent;
	background-size: 40px 40px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: all 0.2s ease;
}

.request__communication-img-wrapper_whatsapp {
	background-image: url(../img/request/whatsapp.svg);
}

.request__communication-img-wrapper_telegram {
	background-image: url(../img/request/telegram.svg);
}

.request__communication-img-wrapper_email {
	background-image: url(../img/request/mail.svg);
}

.request__submit {
	align-self: flex-end;
	width: fit-content;
	background-color: transparent;
	font-family: $Tektur_medium;
	font-size: 36px;
	line-height: 45px;
	color: $color-black;
	cursor: pointer;
	transition: all 0.5s ease;

	&:hover,
	&:focus {
		color: $color-electric;
	}
}

.request-info-send {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	opacity: 0;
	animation: 1s show ease;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

.request-info-send__img {
	width: 250px;
	height: 250px;
}

.request-info-send__message {
	font-family: $Tektur_medium;
	font-size: 48px;
	line-height: 60px;
	color: #fff;
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
