.request-button {
	font-family: $Tektur_medium;
	font-size: 36px;
	line-height: 45px;
	color: $color-electric;
	background-color: transparent;
	cursor: pointer;
	width: fit-content;
}

.main__request-button {
	margin-bottom: 100px;
}

.request-button_pos-end {
	align-self: flex-end;
}
