// Кнопка наверх

.up-button {
	position: absolute;
	left: 145px;
	bottom: 100px;
}

.services {
	display: flex;
	gap: 65px;
	padding: 0 130px 50px 30px;
}

//	Заголовок

.services__title {
	writing-mode: tb-rl;
	transform: rotate(180deg);
	font-family: $Tektur_semi-bold;
	font-size: 124px;
	line-height: 155px;
	color: #fff;
}

// span

.services__span {
	color: $color-black;
}

// слайдер услуг

.slider-services {
	width: 100%;
	display: flex;
	align-items: flex-end;
}

.slide-services {
	height: fit-content;
}

.slide-services__img-wrapper {
	width: 900px;
	height: 550px;
	margin-bottom: 30px;
}

.slide-services__img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.slide-services__title {
	font-family: $Tektur_semi-bold;
	font-size: 40px;
	line-height: 50px;
	color: #fff;
	margin-bottom: 44px;
}

.slide-services__description {
	font-family: $Tektur_semi-bold;
	font-size: 32px;
	line-height: 50px;
	color: #fff;
	text-align: end;
}
