.services {
	padding-right: 45px;
	display: flex;
	align-items: center;
	gap: 60px;
	color: #fff;
	font-family: $Tektur_semi-bold;
}

.services__title {
	font-size: 124px;
	line-height: 155px;
	writing-mode: tb-rl;
	transform: rotate(180deg);
	height: fit-content;
}

.services__span {
	color: $color-electric;
}

.services-slider {
	height: fit-content;
}

.services-slider__wrapper {
	display: flex;
	gap: 45px;
	overflow-x: hidden;
}

.services-slider__slide {
	width: 100%;
	flex-shrink: 0;
}

.services-slider__img {
	border-radius: 5px;
	margin-bottom: 30px;
}

.services-slider__title {
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 40px;
}

.services-slider__text {
	font-size: 32px;
	line-height: 50px;
	text-align: end;
}

.main__services {
	margin-bottom: 100px;
}
