@import 'fonts';

$color-black: #0b0c10;
$color-gray: #c5c6c7;
$color-tiffаny: #45a29e;
$color-electric: #66fcf1;

$Rimma-sans_bold: 'Rimma-sans_bold', Arial, sans-serif;
$Tektur_regular: 'Tektur_regular', Arial, sans-serif;
$Tektur_medium: 'Tektur_medium', Arial, sans-serif;
$Tektur_semi-bold: 'Tektur_semi-bold', Arial, sans-serif;

body {
	overflow-x: hidden;
	background-color: $color-black;
}

.container {
	margin: 0 auto;
	width: 1280px;
	height: 100%;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	padding-bottom: 100px;
}

@import 'header';
@import 'main';
