@font-face {
  font-family: "Rimma-sans_bold";
  src: url(../fonts/rimma-sans/Rimma-sans_bold.woff2) format("woff2"), url(../fonts/rimma-sans/Rimma-sans_bold.woff) format("woff"), url(../fonts/rimma-sans/Rimma-sans_bold.ttf) format("truetype"), url(../fonts/rimma-sans/Rimma-sans_bold.eot) format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Tektur_regular";
  src: url(../fonts/tektur/Tektur_regular.woff2) format("woff2"), url(../fonts/tektur/Tektur_regular.woff) format("woff"), url(../fonts/tektur/Tektur_regular.ttf) format("truetype"), url(../fonts/tektur/Tektur_regular.eot) format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Tektur_medium";
  src: url(../fonts/tektur/Tektur_medium.woff2) format("woff2"), url(../fonts/tektur/Tektur_medium.woff) format("woff"), url(../fonts/tektur/Tektur_medium.ttf) format("truetype"), url(../fonts/tektur/Tektur_medium.eot) format("embedded-opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Tektur_semi-bold";
  src: url(../fonts/tektur/Tektur_semi-bold.woff2) format("woff2"), url(../fonts/tektur/Tektur_semi-bold.woff) format("woff"), url(../fonts/tektur/Tektur_semi-bold.ttf) format("truetype"), url(../fonts/tektur/Tektur_semi-bold.eot) format("embedded-opentype");
  font-weight: 600;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #0b0c10;
}
body::-webkit-scrollbar {
  width: 0;
}

.container {
  padding-top: 100px;
  margin: 0 auto;
  width: 1280px;
  height: 100%;
  padding-bottom: 100px;
  transition: padding-top 0.3s ease;
}

.header {
  position: fixed;
  top: -100px;
  z-index: 1;
  width: 1280px;
  background-color: #0b0c10;
  display: flex;
  align-items: center;
  height: 100px;
  padding: 0 40px;
  transition: top 0.3s ease;
}

.header_active {
  top: 0;
}

.header__logo {
  font-family: "Rimma-sans_bold", Arial, sans-serif;
  font-size: 36px;
  line-height: 43px;
  color: #45a29e;
}

.header__nav {
  position: absolute;
  left: 50%;
  width: 50vw;
  height: 100%;
  background-color: #45a29e;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100px 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 100px 100%);
  padding-left: 140px;
}

.header__nav-menu {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__nav-elem {
  font-family: "Tektur_semi-bold", Arial, sans-serif;
  font-size: 36px;
  line-height: 45px;
}

.header__nav-link {
  text-decoration: none;
  color: #fff;
  transition: all 0.8s ease;
}
.header__nav-link:hover, .header__nav-link:focus {
  color: #0b0c10;
}

.main {
  padding: 100px 60px 75px;
  display: flex;
  flex-direction: column;
}

.headings__title {
  font-family: "Rimma-sans_bold", Arial, sans-serif;
  font-size: 64px;
  line-height: 77px;
  color: #66fcf1;
}

.headings__subtitle {
  font-family: "Tektur_regular", Arial, sans-serif;
  font-size: 48px;
  line-height: 60px;
  color: #c5c6c7;
}

.main__headings {
  margin-bottom: 100px;
}

.opportunities {
  display: flex;
  gap: 40px;
}

.opportunities__elem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.opportunities__text {
  font-family: "Tektur_medium", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #c5c6c7;
}

.opportunities__img-wrapper_design {
  width: 110px;
  height: 100px;
  background-image: url(../img/opportunities/unique-design.svg);
}

.opportunities__img-wrapper_develop {
  width: 110px;
  height: 100px;
  background-image: url(../img/opportunities/website-development.svg);
}

.opportunities__img-wrapper_placement {
  width: 102px;
  height: 100px;
  background-image: url(../img/opportunities/placement-and-configuration.svg);
}

.main__opportunities {
  margin-bottom: 95px;
}

.request-button {
  position: relative;
  font-family: "Tektur_medium", Arial, sans-serif;
  font-size: 36px;
  line-height: 45px;
  color: #66fcf1;
  background-color: transparent;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 25px 30px;
  overflow: hidden;
  transition: 0.6s ease;
}
.request-button span {
  display: block;
  position: absolute;
  border-radius: 1px;
  transition: 0.7s ease;
  transition-delay: 0.35s;
  background-color: #66fcf1;
}
.request-button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #66fcf1);
}
.request-button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #66fcf1);
}
.request-button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #66fcf1);
}
.request-button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(0, transparent, #66fcf1);
}
.request-button:hover, .request-button:focus {
  color: #0b0c10;
  background-color: #66fcf1;
  transition-delay: 0.7s;
  box-shadow: 0 0 30px #66fcf1;
}
.request-button:hover span:nth-child(1), .request-button:focus span:nth-child(1) {
  left: 100%;
}
.request-button:hover span:nth-child(2), .request-button:focus span:nth-child(2) {
  top: 100%;
}
.request-button:hover span:nth-child(3), .request-button:focus span:nth-child(3) {
  right: 100%;
}
.request-button:hover span:nth-child(4), .request-button:focus span:nth-child(4) {
  bottom: 100%;
}

.main__request-button {
  margin-bottom: 75px;
  transform: translateX(-30px);
}

.request-button_pos-end {
  align-self: flex-end;
  transform: translateX(30px);
}

.services {
  padding-right: 45px;
  display: flex;
  align-items: center;
  gap: 60px;
  color: #fff;
  font-family: "Tektur_semi-bold", Arial, sans-serif;
}

.services__title {
  font-size: 124px;
  line-height: 155px;
  -ms-writing-mode: tb-rl;
      writing-mode: tb-rl;
  transform: rotate(180deg);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.services__span {
  color: #66fcf1;
}

.services-slider {
  overflow-x: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.services-slider__wrapper {
  display: flex;
  gap: 45px;
  transition: transform 1s ease;
}

.services-slider__slide {
  width: 100%;
  flex-shrink: 0;
}

.services-slider__img {
  border-radius: 5px;
  margin-bottom: 30px;
}

.services-slider__title {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 40px;
}

.services-slider__text {
  font-size: 32px;
  line-height: 50px;
  text-align: end;
}

.main__services {
  margin-bottom: 100px;
}

.projects {
  color: #fff;
}

.projects__title {
  font-family: "Tektur_semi-bold", Arial, sans-serif;
  font-size: 96px;
  line-height: 120px;
  margin-bottom: 30px;
}

.projects-slider {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  border-radius: 5px;
}

.projects-slider__wrapper {
  width: 100%;
  display: flex;
  gap: 60px;
  margin-bottom: 40px;
  transition: transform 1s ease;
}

.projects-slider__slide {
  position: relative;
  width: 800px;
  flex-shrink: 0;
  border-radius: 5px;
  overflow: hidden;
}
.projects-slider__slide:hover .projects-slider__information {
  right: 0;
}

.project-slider__img {
  display: block;
}

.projects-slider__information {
  position: absolute;
  top: 0;
  right: -100%;
  width: 40%;
  height: 100%;
  background-color: rgba(11, 12, 16, 0.8);
  transition: all 0.8s ease;
}

.projects-slider__nav {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.projects-slider__nav-button {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #c5c6c7;
  transition: all 0.5s ease;
}

.projects-slider__nav-button_active {
  width: 20px;
  background-color: #66fcf1;
}

.main__projects {
  margin-bottom: 15px;
}

.footer {
  padding: 0 60px;
}

.about-us {
  margin-bottom: 30px;
  color: #fff;
}

.about-us__title {
  margin-bottom: 30px;
  font-family: "Rimma-sans_bold", Arial, sans-serif;
  font-size: 36px;
  line-height: 43px;
}

.about-us__text {
  font-family: "Tektur_regular", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.useful-links {
  display: flex;
  gap: 80px;
}

.useful-links__category {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Tektur_medium", Arial, sans-serif;
  font-size: 36px;
  line-height: 45px;
  color: #fff;
}

.useful-links__links {
  font-family: "Tektur_regular", Arial, sans-serif;
  font-size: 24px;
  line-height: 40px;
}

.useful-links__link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  color: #c5c6c7;
  transition: all 0.8s ease;
}
.useful-links__link:hover, .useful-links__link:focus {
  transform: scale(1.1);
  color: #fff;
}

.request-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(11, 12, 16, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.request-bg_active {
  opacity: 1;
  pointer-events: all;
}

.request {
  width: 730px;
  padding: 20px 40px 40px;
  background-color: #45a29e;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transform: scale(0);
  transition: all 0.5s ease;
}

.request_active {
  transform: scale(1);
}

.request__close {
  align-self: center;
  margin-bottom: 20px;
  width: 20px;
  height: 20px;
  background-image: url(../img/request/close.png);
  background-color: transparent;
  cursor: pointer;
}

.request__text {
  margin-bottom: 40px;
  font-family: "Tektur_regular", Arial, sans-serif;
  font-size: 36px;
  line-height: 45px;
  color: #0b0c10;
}

.request__span {
  color: #fff;
}

.request__inputs {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.request__input {
  width: 100%;
  height: 85px;
  border-radius: 5px;
  padding: 20px 40px;
  font-family: "Tektur_regular", Arial, sans-serif;
  font-size: 36px;
  line-height: 45px;
  color: #0b0c10;
  outline: 2px solid transparent;
  transition: outline-color 0.3s ease;
}

.request__input_half {
  width: calc(50% - 20px);
}

.request__input::-moz-placeholder {
  color: #0b0c10;
}

.request__input:-ms-input-placeholder {
  color: #0b0c10;
}

.request__input::placeholder {
  color: #0b0c10;
}

.request__input:focus {
  outline-color: #0b0c10;
}

.request__textarea {
  resize: none;
}
.request__textarea::-webkit-scrollbar {
  width: 0;
}

.request__communication {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.request__communication-text {
  font-family: "Tektur_medium", Arial, sans-serif;
  font-size: 32px;
  line-height: 40px;
  color: #0b0c10;
}

.request__communication-inputs {
  display: flex;
  gap: 20px;
}

.request__communication-input {
  position: absolute;
  opacity: 0;
}
.request__communication-input:checked + .request__communication-img-wrapper {
  border: 2px solid #0b0c10;
}
.request__communication-input:not(:checked):focus + .request__communication-img-wrapper, .request__communication-input:not(:checked):hover + .request__communication-img-wrapper {
  transform: scale(1.05);
}

.request__communication-img-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-size: 40px 40px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.2s ease;
}

.request__communication-img-wrapper_whatsapp {
  background-image: url(../img/request/whatsapp.svg);
}

.request__communication-img-wrapper_telegram {
  background-image: url(../img/request/telegram.svg);
}

.request__communication-img-wrapper_email {
  background-image: url(../img/request/mail.svg);
}

.request__submit {
  align-self: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  font-family: "Tektur_medium", Arial, sans-serif;
  font-size: 36px;
  line-height: 45px;
  color: #0b0c10;
  cursor: pointer;
  transition: all 0.5s ease;
}
.request__submit:hover, .request__submit:focus {
  color: #66fcf1;
}

.request-info-send {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  opacity: 0;
  -webkit-animation: 1s show ease;
          animation: 1s show ease;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.request-info-send__img {
  width: 250px;
  height: 250px;
}

.request-info-send__message {
  font-family: "Tektur_medium", Arial, sans-serif;
  font-size: 48px;
  line-height: 60px;
  color: #fff;
}

@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */